<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>82651546395-nnfoefr2g64e9h12a3e8jtsf3eduiira.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82651546395-nnfoefr2g64e9h12a3e8jtsf3eduiira</string>
	<key>API_KEY</key>
	<string>AIzaSyBwnejsgG6RbFyjPgyAXEtZfo1NSVFHO1Y</string>
	<key>GCM_SENDER_ID</key>
	<string>82651546395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.snapfood.al</string>
	<key>PROJECT_ID</key>
	<string>snapfood-3f623</string>
	<key>STORAGE_BUCKET</key>
	<string>snapfood-3f623.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:82651546395:ios:a46813ff7c62b43e19c9be</string>
	<key>DATABASE_URL</key>
	<string>https://snapfood-3f623.firebaseio.com</string>
</dict>
</plist>