<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>846171839154-795bkes5lk1u6otkfg9psilubqfgh0at.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.846171839154-795bkes5lk1u6otkfg9psilubqfgh0at</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>846171839154-133v89msm8kbkmb1gp7m3jdncrm8n8u0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCfO3y3aTym9auOndjmEV9NCgXWqXZOTuM</string>
	<key>GCM_SENDER_ID</key>
	<string>846171839154</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hkhollys.app</string>
	<key>PROJECT_ID</key>
	<string>hollysapp-53492</string>
	<key>STORAGE_BUCKET</key>
	<string>hollysapp-53492.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846171839154:ios:0bee8043b89456f3dcc7ab</string>
</dict>
</plist>