<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>滙槿地產</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.846171839154-795bkes5lk1u6otkfg9psilubqfgh0at</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb298466897411357</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>FacebookAppID</key>
	<string>298466897411357</string>
	<key>FacebookDisplayName</key>
	<string>Hollys</string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbauth</string>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Allow to access your camera to take photos so you can use those photos in the chat or profile section.</string>
	<key>NSContactsUsageDescription</key>
	<string>Share articles through WhatsApp</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Allow to get your location to display the restaurants near you.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Allow to get your location to display the restaurants near you.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow to get your location to display the restaurants near you.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow to access your microphone so that you can record/hear voice messages for the chat.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow to access your photo library so you can save photos from chat to your camera roll.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow access Photos so you can use photos in your chat conversations within the app.</string>
	<key>UIAppFonts</key>
	<array>
		<string>fontello.ttf</string>
		<string>SanFranciscoDisplay-Bold.otf</string>
		<string>SanFranciscoDisplay-Heavy.otf</string>
		<string>SanFranciscoDisplay-Light.otf</string>
		<string>SanFranciscoDisplay-Medium.otf</string>
		<string>SanFranciscoDisplay-Regular.otf</string>
		<string>SanFranciscoDisplay-Semibold.otf</string>
		<string>Yellix-Black.ttf</string>
		<string>Yellix-BlackItalic.ttf</string>
		<string>Yellix-Bold.ttf</string>
		<string>Yellix-BoldItalic.ttf</string>
		<string>Yellix-ExtraBold.ttf</string>
		<string>Yellix-ExtraBoldItalic.ttf</string>
		<string>Yellix-Light.ttf</string>
		<string>Yellix-LightItalic.ttf</string>
		<string>Yellix-Medium.ttf</string>
		<string>Yellix-MediumItalic.ttf</string>
		<string>Yellix-Regular.ttf</string>
		<string>Yellix-SemiBold.ttf</string>
		<string>Yellix-Thin.ttf</string>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
